* {
  box-sizing: border-box;
}
html {
  font-family: "Big Shoulders Display", cursive;
  font-size: 20px;
}

body {
  margin: 0;
}
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
.panel {
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.panel1 {
  background-image: url(../pictures/indonesia.jpg);
  -webkit-text-stroke: 2px #ff8e00;
}
.panel2 {
  background-image: url(../pictures/cober.jpg);
  -webkit-text-stroke: 2px #ffff00;
}
.panel3 {
  background-image: url(../pictures/ladder.jpg);
  -webkit-text-stroke: 2px #008e00;
}
.panel4 {
  background-image: url(../pictures/tortu.jpg);
  -webkit-text-stroke: 2px #00c0c0;
}
.panel5 {
  background-image: url(../pictures/reunion.jpg);
  -webkit-text-stroke: 2px #400098;
}
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 2em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}
